<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/mobile_style.css">
    <link rel="stylesheet" href="./static/css/landscape_style.css">
    <link rel="stylesheet" href="./static/css/max_style.css">
    
    <title>thePortfolio</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="nav">
                <div class="l_side">
                    <p class="nav_name">joshua r.o.</p>
                </div>
                <div class="r_side">
                    <a href="#" class="nav_link">About</a>
                    <a href="#" class="nav_link">Works</a>
                    <a href="#" class="nav_link">Contact</a>
                </div>
            </div>
        </header>
        <div class="main_page">
            

        </div>
    </div>
</body>
    
    
    <script src="./static/js/script.js"></script>
</body>
</html>