<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/mobile_style.css">
    <link rel="stylesheet" href="../static/css/landscape_style.css">
    <link rel="stylesheet" href="../static/css/max_style.css">
    
    <title>thePortfolio</title>
</head>
<body>
    <div class="container">
        <header>
            <!-- ---------- nav ---------- -->
            <div class="nav">
                <div class="nav_name">
                    <p>mr. Rosado</p>
                </div>
                <input type="checkbox" id="nav_toggle">
                <label for="nav_toggle" class="nav_toggle_label">
                    <span></span>
                </label>
                <div class="links">
                    <a href="#" class="nav_link">Home</a>
                    <a href="#" class="nav_link">About</a>
                    <a href="#" class="nav_link">Work</a>
                    <a href="#" class="nav_link">Contact</a>
                </div>
            </div>
            <!-- ---------- </nav> ---------- -->
        </header>
        <div class="main_page">
            <div>
                <img src="#" alt="main_page_img">
                <div class="main_page_content">
                    <h1>joshua rosado </h1>
                    <p>I'm a software engineer based in Nashville. <br>
                    Enjoy using Python and CSS</p>
                    
                </div>
            </div>
        </div>
        <div class="about_page">
            <div class="about_img_container">
                <img src="#" alt="#" class="about_img">
            </div>
            <div class="about_content">
                <h1>hi, i'm joshua!</h1>
                <p> I am a creative software engineer that enjoys building websites and applications to help solve issues for different types of communities. I am a graduate from Coding Dojo Colorado Technical University with a Full Stack Software Development Certificate were I acquired a multiple set of skills as a developer.</p>
            </div>

        </div>
        <div class="learn_more_page">
            <h2>challenging myself to help achieve your goal</h2>
            <p>LEARN MORE</p>
        </div>
        <div class="work_page">
            <div class="work_container">
                <h2>my recent work</h2>
                <a href="#"><img src="#" alt="#"></a>
                <a href="#"><img src="#" alt="#"></a>
                <a href="#"><img src="#" alt="#"></a>
            </div>
        </div>
        <div class="footer">
            <div class="footer_content">
                <h1>mr. Rosado</h1>
                <div class="footer_links">
                    <a href="#">Home</a>
                    <a href="#">About</a>
                    <a href="#">Work</a>
                    <a href="#">Contact</a>
                </div>
                <div class="contact_links">
                    <a href="#">LinkedIn</a>
                    <a href="#">Github</a>
                    <a href="#">Email</a>
                </div>
            </div>
            <p>©2022 MR. JOSHUA ROSADO</p>
        </div>
    </div>
</body>
    
    
    <script src="../static/js/script.js"></script>
</body>
</html>